.login{
    width: 1000px;
    height: 100px;
    background-color: cornflowerblue;
    margin-left: auto; margin-right: auto;
}
.logins{
    font-size: 50px;
    text-align:center;
}
.btn{
    width: 100px;
    height: 50px;
    font-size: 30px;
    background-color: crimson;
    display:block;margin:0 auto
}


.qq{
    width: 380px;
    height: 300px;
    background-color: cyan;
    margin-left: auto; margin-right: auto;

}
.lgin{
    width: 110px;
    height: 100px;
    background:url("../image/zhangyu.jpg");
    background-size:cover;
    margin-left: auto;
    margin-right: auto;
}

.txet1{
    width: 200px;
    height: 100px;
    background-color: deepskyblue;
    margin-left: auto;
    margin-right: auto;

}

.tx1, .tx2{
    display:table;position:relative;
    margin-left: auto;
    margin-right: auto;

}
.btns{
    width: 100px;
    height: 30px;
    background-color: blue;
    display:table;position:relative;
    margin-left: auto;
    margin-right: auto;
}
.sizes{
    font-size: 5px;
    text-align:center;
    color: cornsilk;
}

.china{
    text-align:center;
}